@import 'variables';
@import 'mixin';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    @include background($background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $text-color;
}

#root {
    width: 100%;
    height: 100%; 
}