<form id="formSearch" 
  class="form" 
  [class.submitted]="submitted"
  [formGroup]="formSearch" 
  (ngSubmit)="search()"
  fxLayoutWrap 
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0">
  
  <!-- search bar -->
  <div fxFlex
    fxFlex.xs="100"
    fxLayout="column" 
    fxLayout.xs="row"
    fxLayoutAlign="start top">
    <mat-form-field class="field" floatPlaceholder="never">
      <input matInput formControlName="search" placeholder="Pesquisar">
      <span matPrefix class="prefix">
        <mat-icon>search</mat-icon>
      </span>
      <mat-error>Por favor, digite sua busca!</mat-error>
    </mat-form-field>
  </div>

  <!-- search button -->
  <div fxFlex="30"
    fxFlex.xs="100"
    fxLayout="column" 
    fxLayout.xs="row" 
    fxLayoutAlign="center">
    <button class="btn" mat-raised-button color="primary">Buscar</button>  
  </div>
</form>